.normal{
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a{
        &:hover{
            path{
                fill: white;
            }
        }
        
    }

    &:hover{
        path{
            fill: white;
        }
    }
}

.normal[aria-current]{
    position: relative;
    width: 60px;
    height: 50px;
    color: #fe4d44;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    path{
        fill: #fe4d44;
    }

    &::after{
        content: '';
        position: absolute;
        width: 3px;
        height: 50px;
        background-color: #fe4d44;
        left: 0;
        top: 0;
    }
    &:hover{
        path{
            fill: white;
        }
    }
}

.linkOpen{
    height: 50px;
    display: flex;
    padding-left: 25px;
    align-items: center;
    gap: 15px;
    transition-duration:  .3s;

    p{
        margin: 0;
        color: #8f8f8f;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 2px;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        p{
            color: #fff;
        }

        path{
            fill: #fff;
        }
    }
}

.linkOpen[aria-current]{
    position: relative;
    height: 50px;
    display: flex;
    padding-left: 25px;
    align-items: center;
    gap: 15px;
    transition-duration:  .3s;
    background-color: #1f1f1f;

    path{
        fill: #fe4d44;
    }

    &::after{
        content: '';
        position: absolute;
        width: 3px;
        height: 50px;
        background-color: #fe4d44;
        left: 0;
        top: 0;
    }

    p{
        margin: 0;
        color: #fe4d44;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 2px;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        p{
            color: #fff;
        }

        path{
            fill: #fff;
        }
    }
}